<launch>
    <arg name="target_colour" default="red"/>

    <node name="mapping_node" pkg="com2009_team71" type="mapping.py" output="screen">
    </node>

    <node name="search_action_server" pkg="com2009_team71" type="search_server_task4.py" output="screen"
      args="-target_colour $(arg target_colour)" />

    <node name="search_action_client" pkg="com2009_team71" type="search_client_task4.py" output="screen">
    </node>

    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch"/>

</launch>